<div id="footer">
	<div class="container">		  
	<div class="row">
		  <div class="span3">
			<h3>Dia Chi Nhanh</h3>
			<ul class="animated">
			  <li><a href="#">Bo Thong Tin</a></li>
			  <li><a href="#">Vnet</a></li>
			  <li><a href="#">Tinh Nang</a></li>
			  <li><a href="#">Gia San Pham</a></li>
			</ul>			
		  </div>
		  <div class="span3">		
			<h3>Cong ty</h3>
			<ul class="animated">
			  <li><a href="#">Dieu le</a></li>
			  <li><a href="#">Chinh sach</a></li>
			  <li><a href="#">FAQ</a></li>
			</ul>	
		  </div>
		  <div class="span3">
			<h3>Lien He</h3>
			<ul class="animated">
			  <li><a href="#">1900xxxx</a></li>
			  <li><a href="#">Chat Live</a></li>
			  <li><a href="#">Facebook</a></li>
			</ul>		  
		  </div>
		  <div class="span3">
			<h3>Feed thong tin</h3>
			<p>Dang Ki email tai day de nhan thong tin ve san pham</p>	
		    <form>
              <input class="span3" type="text" placeholder="Email" name="subscribe">
			  <button class="btn btn-primary">Kick Hoat</button>
			</form>
		  </div>
	</div>
</div>
</div>	

<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>© 2013 Vnet <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>	  
