<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://wbpreview.com/previews/WB01124K3/index.html#"><i class="icon-cloud "></i> SMS CHG</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="active"><a href="/doanhnghieps/dangky">Trang Chu</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="homes/index">
                            Tinh Nang</a>
                        <ul class="dropdown-menu">
                            <li><a href="../homes/index">Gio Thieu</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/services.html">Dich Vu</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/full-width.html">Full Width</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/font-icons.html">All Icons</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/price-table.html">Price Table</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/404.html">404 Page not found</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://wbpreview.com/previews/WB01124K3/bs-scaffolding.html">
                            Gio Thieu</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://wbpreview.com/previews/WB01124K3/bs-scaffolding.html">Scaffolding</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/bs-base-css.html">Base CSS</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/bs-components.html">Components</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/bs-javascript.html">JavaScript</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://wbpreview.com/previews/WB01124K3/portfolio.html">
                            Dich Vu</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio.html">Portfolio</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-single.html">Single Portfolio</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h2.html">Portfolio (animation 2)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h3.html">Portfolio (animation 3)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h4.html">Portfolio (animation 4)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h5.html">Portfolio (animation 5)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h6.html">Portfolio (animation 6)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h7.html">Portfolio (animation 7)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h8.html">Portfolio (animation 8)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h9.html">Portfolio (animation 9)</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/portfolio-h10.html">Portfolio (animation 10)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://wbpreview.com/previews/WB01124K3/blog-sidebar-right.html">Lien He</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://wbpreview.com/previews/WB01124K3/blog-sidebar-right.html">Blog</a></li>
                            <li><a href="http://wbpreview.com/previews/WB01124K3/blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    <li><a href="http://wbpreview.com/previews/WB01124K3/contact.html">Dang Nhap</a></li>
                </ul>
            </div>
        </div>