<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bounce | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          <a class="brand" href="index.html">SMS Chống Hàng </a>
		  <div class="nav-collapse collapse">
            <ul class="nav pull-right animated">
			  <li class="dropdown active">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Trang  <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="index.html" tabindex="-1">Default Home</a></li>
				  <li><a href="alt.html" tabindex="-1">Alternative Home</a></li>
				</ul>
			  </li>
              <li><a href="about.html">Giới Thiệu</a></li>		  
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Hướng Dẫn <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="blog.html" tabindex="-1">Tin Tức</a></li>
				  <li><a href="single.html" tabindex="-1">Bài Viết</a></li>
				  <li><a href="dividers.html" tabindex="-1">Dividers</a></li>
				</ul>
			  </li>
			  <li><a href="pricing.html">Dịch Vụ</a></li>
			  <li><a href="login.html">Đăng Nhập</a></li>
			  <li><a href="register.html">Đăng Ký</a></li>
			  <li><a href="contact2">Liên </a></li>
			  
            </ul>
		  </div>
        </div>
      </div>
    </div>	
	
	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="span12">
		    <h1>Contact Us</h1>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content">
	  <div class="container">			
	    <div class="row">
		  <div class="span5">
            <h2><i class="glyphicons-envelope"></i> Email Us</h2>		  
	    <fieldset>
		  <div class="control-group">
		    <div class="controls">
			  <input class="span5" type="text" placeholder="Your Full Name" />
			</div>
		    <div class="controls">
			  <input class="span5" type="text" placeholder="Your Email" />
			</div>			
		    <div class="controls">
			  <input class="span5" type="text" placeholder="Message Subject" />
			</div>
			<div class="controls">
			  <textarea class="span5" id="textarea" rows="6" placeholder="Your Message"></textarea>
		    </div>
		  <button class="btn btn-primary">Send Message</button>
		  </div>	
	    </fieldset>
		  </div>
		  <div class="span7">
		    <div class="row">
		      <div class="span3">
		        <h2><i class="glyphicons-google_maps"></i> Address</h2>
		        <address>
		          111 Some Street, Suite 100
		          <br />
		          San Francisco, CA 94107
				</address>
		      </div>
		      <div class="span4">
		        <h2><i class="glyphicons-phone"></i> Phone</h2>
		        <address>
		          Phone: (123) 456-7890
		          <br />
		          Fax: (123) 456-7890 	
				</address>
		      </div>			  	   
		    </div>		  
			<div class="thumbnail map">
			  <iframe style="width: 100%; height: 100%; border: none;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Newport,+RI,+United+States&amp;aq=2&amp;oq=newport,+United+States&amp;sll=37.371249,-122.03476&amp;sspn=0.053887,0.077162&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Newport,+Rhode+Island&amp;ll=41.490102,-71.312828&amp;spn=0.068905,0.154324&amp;z=13&amp;output=embed"></iframe>
			</div>  
		  </div>		  
		</div>	
	  </div>
	</div>

	<div id="footer">
	  <div class="container">
	    <div class="row">
		  <div class="span3">
			<h3>Quick Links</h3>
			<ul class="animated">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">About Us</a></li>
			  <li><a href="#">Features</a></li>
			  <li><a href="#">Pricing</a></li>
			</ul>			
		  </div>
		  <div class="span3">		
			<h3>Company</h3>
			<ul class="animated">
			  <li><a href="#">Privacy Policy</a></li>
			  <li><a href="#">Terms of Use</a></li>
			  <li><a href="#">FAQ</a></li>
			</ul>	
		  </div>
		  <div class="span3">
			<h3>We're Social</h3>
			<ul class="animated">
			  <li><a href="#">Facebook</a></li>
			  <li><a href="#">Twitter</a></li>
			  <li><a href="#">Google &#43;</a></li>
			</ul>		  
		  </div>
		  <div class="span3">
			<h3>Subscribe</h3>
			<p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>			
		    <form />
              <input class="span3" type="text" placeholder="Your Email" name="subscribe" />
			  <button class="btn btn-primary">Subscribe</button>
			</form>
		  </div>		  
		</div>	  
      </div>	  
    </div>

	<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>&copy; 2013 Bounce Template <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/bounce.js"></script>	

  </body>
</html>