<!DOCTYPE html>
<html lang="en">
  <head>
    <head> 
    <meta charset="utf-8" />
    <title>Bounce | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
  </head>
  <body class="no-space">

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<%= image_tag "header_cp.jpg" %>
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          <!-- <a class="brand" href="index.html">SMS </a> -->
		  <div class="nav-collapse collapse">
            <ul class="nav pull-right animated">
			  <li class="dropdown active">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Trang Chủ<b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="index.html" tabindex="-1">Default Home</a></li>
				  <li><a href="alt.html" tabindex="-1">Alternative Home</a></li>
				</ul>
			  </li>
              <li><a href="about.html">Giới Thiệu</a></li>		  
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Hướng Dẫn <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="blog.html" tabindex="-1">Tin Tức</a></li>
				  <li><a href="single.html" tabindex="-1">Bài Viết</a></li>
				  <li><a href="dividers.html" tabindex="-1">Dividers</a></li>
				</ul>
			  </li>
			  <li><a href="pricing.html">Dịch Vụ</a></li>
			  <li><a href="login.html">Đăng Nhập</a></li>
			  <li><a href="register.html">Đăng Ký</a></li>
			  <li><a href="contact2">Liên Hệ</a></li>
			  
            </ul>
		  </div>
        </div>
      </div>
    </div>	
	
	<div id="landing" class="no-space">
		<!-- header -->
	  <div class="container">  
	  	<div class="time">Thứ hai, 09/09/2013</div>	

	<div id="content">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <div class="well well-form txt-lefty">
              <h3>Sign Up</h3>
			  <form />
		        <div class="control-group">
		          <div class="controls">
					<input type="text" name="fname" placeholder="First Name" class="span3" required="" />
				  </div>
			    </div>
		        <div class="control-group">
		          <div class="controls">
					<input type="text" name="lname" placeholder="Last Name" class="span3" required="" />
				  </div>
			    </div>
		        <div class="control-group">
		          <div class="controls">
					<input type="email" name="email" placeholder="Email" class="span3" required="" />
				  </div>
			    </div>
		        <div class="control-group">
		          <div class="controls">
					<input type="password" name="pass" placeholder="Password" class="span3" required="" />
				  </div>
			    </div>
		        <div class="control-group">
		          <div class="controls">
					<input type="password" name="passagain" placeholder="Confirm Password" class="span3" required="" data-validation-matches-match="pass" data-validation-matches-message="Must match password entered above" />
				  </div>
			    </div>
                <div class="form-actions">
			      <label class="checkbox">
                    <input type="checkbox" name="terms" required="" data-validation-required-message="You must agree to the terms and conditions" />
                    I agree to the terms and conditions
                  </label>
			      <button class="btn btn-primary" type="submit">Sign Up</button>
                </div> 
              </form>
		      <div class="form-extra">
			    <button class="btn btn-info"><i class="glyphicons-twitter"></i> Login with Twitter</button>
			    <button class="btn btn-danger"><i class="glyphicons-google_plus"></i> Login with Google</button>
			  </div> 			  
            </div>
		  </div>  
		</div>  	
	  </div>
	</div>

	 <div id="copywrite">

	  <div class="container">
	  	<hr class="red" />
	    <div class="row">
		  <div class="span12">
		    <strong>© CỔNG THÔNG TIN ĐIỆN 
	TỬ CHÍNH PHỦ</strong><br>

	Tổng Giám đốc: Phạm Việt Dũng<br>
	Trụ sở: 16 Lê Hồng Phong - Ba Đình - Hà Nội.<br>
	Điện thoại: Văn phòng: 080 43162; Fax: 080.48924; Email: <a href="mailto:thongtinchinhphu@chinhphu.vn" style="font-family:Arial; font-size:11px; text-decoration:underline;" target=""> 
	thongtinchinhphu@chinhphu.vn</a>.<br>
Bản quyền thuộc Cổng Thông tin điện tử Chính phủ.<br>
	Ghi rõ nguồn 'Cổng Thông tin điện tử Chính phủ' hoặc '<a href="http://www.chinhphu.vn" style="font-family:Arial; font-size:11px; text-decoration:underline;" target="">www.chinhphu.vn</a>' 
	khi phát hành lại thông tin từ các nguồn này. 
	
		  </div>		  
		</div>	  
      </div>	  
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/bounce.js"></script>	

  </body>
</html>