<div id="landing" class="content">
<div class="row-fluid">
      <div class="span5">
        <h1>SMS Chong Hang Gia</h1>  
      <p>Tem SMS Chong Hang Gia la giai phap duoc ban nganh chinh phu phe duyet, voi muc dich giup doanh nghiep quan ly san pham va nguoi tieu dung tranh mua, su dung hang gia, hang kem chat luong</p>
        <p><a href="http://wbpreview.com/previews/WB01SF07K/index.html#" class="btn btn-primary btn-action">Chi tiet</a></p>  
      </div>
      <div class="span7">
        <div class="well" style="padding-top: 56.2%;">
          
        </div>
      </div>
    </div>
</div>

<div class="text-center">
  <div class="row">
    <div class="span12 text-danger">
      <h2>Dich Vu Chung Toi</h2>
      <hr class="dashed">       
    </div>  
  </div>


  <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img src="/assets/download1.png" class="img-thumbnail">
        </div>
      <h2>Tem CHG co kiem dinh</h2>
      <p>Tem duoc in noi/chim tinh vi, duoc cap phep cua chinh phu, san pham cua doanh nghiep qua dang ki nghiem ngat truoc khi tem dc dinh len san pham</p>  
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img src="/assets/download.png" class="img-circle">
        </div>
      <h2>He thong SMS xac minh</h2>
      <p>Nhan tin sms ma so tren tem, tin nhan phan ho cho biet chi tiet nguon goc, xuat xu cua san pham chinh hang</p> 
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img src="/assets/download2.png" class="img-rounded">
        </div>
      <h2>Tong Dai Ho Tro</h2>
      <p>Lien he tong dai 1900xxxx de chi tiet san pham, xuat xu, doanh nghiep san xuat, che bien.</p> 
      </div>      
    </div>  


</div>  